.bar:hover {
    fill: rgb(204, 0, 255);
}


.axis {
    font-size: 14px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}
#tooltip {
    display: none;
    background: #5395f8;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out; 
    position: absolute;
    pointer-events: none; /* Đảm bảo tooltip không che chắn sự kiện chuột của các phần tử phía dưới */
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 2;
}
}
.container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}
.button-container {
    text-align: center; 
}

button {
    background-color: #5395f8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black; /* Đổi màu viền thành màu đen */
    border-radius: 5px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0055cc;
}

button:focus {
    outline: none;
}
svg {
    position: relative; 
}